@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");

.content {
  max-width: 700px;
  margin: 8rem auto;
  height: 56vh;
  font-family: Poppins, sans-serif;
}

.App{
  background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );

}

p{
  border: 1px solid #b1b9b5;
  border-right: 1px solid;
  line-height: 40px;
  padding: 5px;
  border-radius: 10px;
}

/* TitTap Editor Design */
.ProseMirror {
  margin-top: 1rem;
  padding: 10px;
 
  background: white;
  border-radius: 0 0 18px 18px;
  min-height: 100px;

}
.ProseMirror:focus {
  border: none;
  outline: 1px solid aqua;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

/* ............................ */
.textEditor {
  border-radius: 18px;
  border: 1px solid grey;
}
.menuBar {
  padding-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}


body{
  margin: 0;
}


button.is_active {
  background: rgb(235 100 251);
  padding: 2px 3px;
  border-radius: 2px;
}
.header-bar{
  background-color: #616161;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  background-color: #616161;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1{
  color: #fff;
}
.header-bar h1{
  color: #fff;
}
.header-bar .logo{
  width: 45px;
  height: 45px;
}
